/*@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Reset */
*,
*::before,
*::after { box-sizing: border-box; }
* { margin: 0; }

:root {
  --default-vertical-spacing: 0.75rem;
  --nav-height: 56px;
  --footer-height: 56px;

  /*--sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;*/
  --sans: "Fira Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
  --serif: Tiempos, serif;
  --mono: ui-monospace, SFMono-Regular, Menlo, Consolas, 'Liberation Mono', 'Ubuntu Mono', monospace;

  --font-size-0: 8px;
  --font-size-1: 12px;
  --font-size-2: 13px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 24px;
  --font-size-6: 32px;
  --font-size-7: 38px;

  --line-height-1: 16px;
  --line-height-2: 20px;
  --line-height-3: 25px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 40px;
  --line-height-7: 48px;
  --line-height-jumbo: 90px;
  --lh-heading: 1.25;

  --searchbox-modal-width: 560px;

  --white: #ffffff;
  --black: #18181b;
  --black-light: #58585f;
  --black-medium: #2c2c30;
  --gray-light: #f6f9fc;
  --gray-medium: #dce6e9;

  --yellow: #ffd848;
  --purple: #6e00f5;
  --green: #0a993e;
  --blue: #0073e6;
  --magenta: #dc34dc;

  --theme: var(--yellow);
  --stripe: #0a2540;

  --light: var(--white);
  --dark: var(--black);
  --text: var(--dark);

  --contrast-dark: var(--dark);
  --code-background: var(--gray-light);
  --code-border: var(--gray-medium);
  --toc-border: rgba(0, 0, 0, 0.14);
  --translucent: rgba(0, 0, 0, 0.4);
  --button-color: var(--gray-light);
  --button-hover-color: rgba(0, 0, 0, 0.14);

  --navbar-background: #333;
  --docsearch-searchbox-background: var(--gray-light);

  --page-max-width: 1400px;
}

html, body, #__next { height: 100%; }
#__next { isolation: isolate; }

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  color: var(--text);
  background: var(--light);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: opacity 300ms ease;
}
a:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;

}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
}

input, button, textarea, select { font: inherit; }

/* Typography */
p {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}
p, blockquote, ul, ol, table {
  margin: 0 0 0.875rem 0; /* ~14px */
  padding: 0;
}
.heading { padding-bottom: 0; } /* avoid double spacing */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  line-height: var(--lh-heading);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h1, .h1 {
  margin-top: 0;
} /* first heading on page */
h1 { font-size: var(--font-size-6); }
h2 { font-size: var(--font-size-5); }
h3 { font-size: var(--font-size-4); }
h4 { font-size: var(--font-size-3); }
h5 { font-size: var(--font-size-3); font-weight: normal; }

blockquote { margin: 1.3rem 0 1.1rem; }

li {
   margin: 0.3rem 0; 
}

img { max-width: 100%; }


/* Lists inside article */
article ul,
article ol {
  margin: 0 0 0.875rem 0;
  padding-inline-start: 1.25rem;
  list-style-position: outside;
}
article ul ul,
article ol ol {
  padding-inline-start: 1rem;
}
article li {
   line-height: var(--line-height-3);
}
article li::marker {
  font-size: 0.9em;
  color: var(--black-medium);
}

/* Tables */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 1rem 0;
  overflow: hidden;
}
th, td {
  padding: 10px 14px;
  border-bottom: 1px solid var(--code-border);
}
th {
  font-weight: 600;
  text-align: left;
}
tr:first-child td:first-child { border-top-left-radius: 3px; }
tr:first-child td:last-child { border-top-right-radius: 3px; }
tr:last-child td:first-child { border-bottom-left-radius: 3px; }
tr:last-child td:last-child { border-bottom-right-radius: 3px; }

/* Layout helpers */
article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
}

/* Prism (if present) */
pre[class*='language-'] {
  text-shadow: inherit !important;
  color: inherit !important;
  background: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height:inherit !important;
  margin: inherit !important;
}
.token { color: var(--text) !important; background: transparent !important; }
.token.comment { color: var(--translucent) !important; }
pre .token.string,
pre .token.boolean,
pre .token.number { color: var(--magenta) !important; }
pre .token.function,
pre .token.tagType,
pre .token.tag { color: var(--blue) !important; }
pre .token.keyword,
pre .token.property { color: var(--purple) !important; }
pre .token.variable { color: var(--green) !important; }

/* Responsive tweaks */
@media screen and (max-width: 768px) {
  p { font-size: var(--font-size-3); line-height: var(--line-height-3); }
  h2.jumbo { font-size: 34px; line-height: 47px; }
  blockquote { margin: 0.75rem 0; }
  .no-mobile { display: none; }
}

/* Reduced motion */
@media (prefers-reduced-motion) {
  .prefers-animation { display: none; }
  .prefers-no-animation { display: initial; }
}
